
.custom-shape-divider-top-1643544182 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1643544182 svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 320px;
}

.custom-shape-divider-top-1643544182 .shape-fill {
  fill: #202731;
}

@media (max-width: 767px) {
  .custom-shape-divider-top-1643544182 svg {
    width: calc(136% + 1.3px);
    height: 444px;
  }
}

.custom-shape-divider-bottom-1643547284 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643547284 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1643547284 .shape-fill {
  fill: #FFFFFF;
}
:root {
  font-size: 16px;
  font-family: sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: rgb(248, 8, 8);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  /*overflow: scroll;*/
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

body {
  background-image: url(./triangle_background.png);
  background-size: cover;
}
/* ../../Pictures/some_memee_meow.jfif*/
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: #4a8bfd;
}

body::-webkit-scrollbar-thumb {
  background-color: #f51101;
}

#hi {
  font-size: 75px;
  font-weight: bold;
  margin-top: 250px;
  color: rgb(255, 230, 121);
  font-family: "Sedgwick Ave", cursive;
  line-height: 75px;
  margin-left: 50px;
}

.divme {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  line-height: 50px;
  background-color: #048bfa;
  font-family: "Sedgwick Ave", cursive;
  box-shadow: rgb(243, 141, 141) 0px 5px 50px;
  border-radius:35px;
  padding: 4px;
  border: 2px solid rgb(232, 248, 5);
  width: 600px;
  height: 450px;
  margin-top: -320px;
  margin-left: 750px;

}

#gh {
  box-shadow: rgb(0, 0, 0.5) 0px 5px 50px;
  border-radius: 5px;
  border: 2px solid rgb(194, 55, 55);
  width: 200px;
  margin-top: 25px;
  margin-left: 50px;
}

#tw {
  box-shadow: rgb(0, 0, 0.5) 0px 5px 50px;
  border-radius: 5px;
  border: 2px solid rgb(8, 8, 8);
  width: 200px;
  margin-top: -77px;
  margin-left: 330px;
  background-color: #1d9bf0;
}

.div1 {
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  font-family: "Sedgwick Ave", cursive;
  background-color: #ff543efd;
  box-shadow: rgb(2, 2, 250) 0px 5px 50px;
  border-radius: 15px 50px;
  position: absolute;
  margin-top: 20px;
  margin-left: 750px;
  margin-bottom: 100px;
  width: 290px;
  height: 140px;
  border: 2px solid #07f5e1f1;
}

.div2 {
  background-color: #05fc05;
  font-family: "Sedgwick Ave", cursive;
  box-shadow: rgba(252, 2, 239, 0.986) 0px 5px 50px;
  font-size: 15px;
  border: 2px solid #0733f5f1;
  width: 290px;
  height: 140px;
  border-radius: 15px 50px;
  position: absolute;
  line-height: 40px;
  text-align: center;
  margin-left: 1080px;
  margin-top: 20px;
}

#footer {
  background-color: #4a8bfd;
  margin-top: 200px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.coninfo {
  margin-left: 250px;
}

.certi {
  margin-left: 750px;
  margin-top: -70px;
}

.perinfo {
  margin-top: -70px;
  margin-left: 1250px;
}
